
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Street Fighter </title>
    <meta charset="utf-8">
    <link href="~/Content/estilo.css" rel="stylesheet" />
    
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <a href="~/StreetFighter/Index">Início</a>
            </li>
            <li>
                <a href="~/StreetFighter/Cadastro">Cadastro</a>
            </li>
            <li>
                <a href="~/StreetFighter/FichaTecnica">Ficha Técnica</a>
            </li>
            <li>
                <a href="~/StreetFighter/Sobre">Sobre</a>
            </li>
        </ul>
    </div>

    <div id="subtitulo">
        <h1>@ViewBag.Title</h1>
    </div>
    @RenderBody()

</body>
</html>
