body{
    background-image:url(StreetFighter2.jpg); background-size:contain;
	background-repeat:no-repeat; font-family: arial;
}
h1{
    color: #eee;
}

.menu{
    width: 460px;  margin-top: 250px; margin-right: auto; margin-bottom:30px;
     margin-left: auto; border-style: solid; border-width: 1px;
	border-radius:20px; color: #fff; background-color: rgba(200,200,200,0.3); text-align: center;
}
.menu ul li{
    margin-left: 10px; margin-right:10px; display: inline-block;
}
.menu ul li a{
    text-decoration: none; color:#FFF; font-size: 13pt; font-weight: bold;
}
#subtitulo{
    background-color: #555; padding: 6px; height: 65px; width: 700px;
	margin-left: auto; margin-right: auto;
}
#container{
    background-color: #eee; padding: 6px; width: 700px;
	margin-left: auto; margin-right: auto;
}
#image{
    float:left; height: 500px;
}
#fichaTecnica{
    background-color: #eee; padding: 6px; width: 700px;
	margin-left: auto; margin-right: auto; font-size: small;
}